---
title: Contact
---

<h3>Contact</h3>
<dl>
  <dt>Email</dt>
    <dd>elapovok@gmail.com</dd>
  <dt>Phone</dt>
    <dd>+49 30 32665653 (landline)</dd>
    <dd>+49 176 96750414 (mobile)</dd>
  <dt>Address</dt>
    <dd>Rosenthaler 62, 10119 Berlin</dd>
</dl>


<h3>CV</h3>
<table width="100%">
  <tr>
    <td colspan='2'>PROFESSIONAL EDUCATION &amp; RESIDENCIES</td>
  </tr>

  <tr>
    <td>2008 - 2010</td>

    <td>Atelier at Tacheles Art House, Berlin</td>
  </tr>

  <tr>
    <td>2003-2004</td>

    <td>'Masters in Multimedia Design', Swinburne University of Technology</td>
  </tr>

  <tr>
    <td>2001</td>

    <td>'Postgraduate Diploma in Film, Television ( Interactive Media)', School of Film
    and Television Victorian College of the Arts (VCA)</td>
  </tr>

  <tr>
    <td>1997-2001</td>

    <td>Bachelor of Fine Arts with Honors (Painting)', Faculty of Arts and Design,
    Monash University.</td>
  </tr>

  <tr>
    <td colspan='2'>SELECTED PROJECTS /EXHIBITIONS</td>
  </tr>

  <tr>
    <td>2012</td>

    <td>Tacheles Jubil&Atilde;&curren;um - 'Tacheles Biennale' - Group Show, Tacheles,
    Berlin</td>
  </tr>

  <tr>
    <td>2011</td>

    <td>' Speak Up' Group show, ACUD Berlin ' Lass den Tacheles im Dorf' art
    festival<br />
    ' Faces ' Group show' Gallery Vinogradov, Berlin<br />
    ' ATEH' Performance ' Gallery Vinogradov, Berlin<br />
    'Happiness starts from 9.95' Solo Exhibition Uhrwerk Gallery Berlin</td>
  </tr>

  <tr>
    <td>2010</td>

    <td>"Open Studio Show" Tacheles, Berlin<br />
    "Scary Doll Metamorphosis" Performance, Open Studios, Tacheles, Berlin</td>
  </tr>

  <tr>
    <td>2006</td>

    <td>"Video Dreams" Street Installation Melbourne.</td>
  </tr>

  <tr>
    <td>2004</td>

    <td>"Secrets of Europa" Stereographic Animation, Screened at Virtual Reality
    Theatre, Department of Physics and Supercomputing Swinburne<br />
    Work exhibited at Latrobe Valley Fine Art Gallery, La Trobe Valley<br />
    Work exhibited at Rogers and Doyle Fine Art Gallery, 112, St. Kilda Rd., St.
    Kilda</td>
  </tr>

  <tr>
    <td>2002</td>

    <td>Video clip "Twist" Screened at the Duke, St. Kilda<br />
    Work exhibited at Rogers and Doyle Fine Art Gallery, 112, St. Kilda Rd., St.
    Kilda<br /></td>
  </tr>

  <tr>
    <td>2001</td>

    <td>"A Boy Called Marina"- Interactive CD-ROM<br />
    "When I Will Be Famous"- Interactive CD-ROM" Show reel screened at VCA.</td>
  </tr>

  <tr>
    <td>1999</td>

    <td>'Graduate Show', Monash University, Melbourne<br />
    'Field of Vision' Monash University Caulfield East, Victoria<br />
    'Don't Die Now, Wait Until Saturday' Chiara Goya Gallery, Fitzroy, Victoria<br />
    'Group Show', Manyuong Gallery, Mount Eliza, Victoria<br /></td>
  </tr>

  <tr>
    <td>1998</td>

    <td>'Uncensored Peace Prize' Monash University Caulfield East, Victoria Open Day
    Exhibition Monash University Caulfield East, Victoria "The Drinkers" displayed 'Red
    Tongue' cafe &amp; bar, Fitzroy, Victoria 'Lucato Peace Prize' Monash University
    Caulfield East, Victoria</td>
  </tr>

  <tr>
    <td>1984</td>

    <td>'Traveling Children Show" Bulgaria</td>
  </tr>

  <tr>
    <td colspan='2'>COMMISSIONS &amp; COLLECTIONS</td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>Work in Private Collections in Australia, Russia, Israel Public collections:
    Monash University, Australia</td>
  </tr>
</table>
