---
title: Performane
---

<h3>Performance</h3>
<%= partial "s/block_images", :locals => {:category => 'performance'} %>
<iframe src="http://player.vimeo.com/video/34508580?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<br>
<!-- <a href="http://aleph.bplaced.net/" target='_blank'>
See full project on website
</a> -->
Aleph Art Proekt (Collaborative Performance Project)