---
title: Welcome!
---


<img src="/images/misc/images/header_line.jpg">
<img id='red_text_block' src="/images/misc/images/red_text_block.jpg">
<img id='main_image'     src="/images/misc/images/main_image.jpg" >

<div id='text_main'>
 <!-- <span class='hello'>Hello welcome to my web site! </span>
  My name is Elya May, I am an artist  living and working in Berlin. This site showcases my art work. I hope you will enjoy it! -->
</div>
